* {
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
  box-sizing: border-box;
}
.navbaar {
  background-color: rgb(22, 22, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-weight: bold;
  padding: 30px 20px;
}
.contact {
  border: 1px solid #9ca3af48;
  padding: 6px 0px;
}
.Image {
  height: 40px;
  width: 20px;
}
.logo img {
  width: 20%;
  padding-left: 10px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.list a {
  text-decoration: none;
  padding: 6px;
  margin: 0px 6px 0px 0px;
}
.logo a {
  text-decoration: none;
}
.logo {
  width: 50%;
}
.list a,
.logo a {
  color: aliceblue;
}
.background_image {
  
  text-align: center;
  
  color: white;
  width: 60%;
  /* background-color: blue; */
}
.homeSection {
  background: #221b6b;
  height: 82vh;
  width: 100%;
  background-image: url(candid-4.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background_image img {
  height: 100%;
  width: 100%;
}
.background_image h2 {
  color: rgb(235, 210, 210);
  font-size: 2.25rem;
  padding-bottom: 3vh;
  
}
.background_image h1 {
  color: white;
  font-size: 4.5rem;
  line-height: 1;
  
}

.button {
  margin-top: 20px;
  background-color: rgb(232, 65, 4);
  color: white;
  width: 200px;
  border-radius: 10px;
  height: 50px;
  border: none;
  font-weight: bold;
  /* position: relative; */
  top: -114px;
}

.what_we_do {
  text-align: center;
  color: #f3f4f6;
  width: 50%;
  /* text-align: center; */
  margin: auto;
  padding: 64px 0;
}
.box2 {
  height: 4px;
  width: 39px;
  border-radius: 4px;
  background-color: orangered;
  margin: 10px auto 16px;
}
.what_we_do h2 {
  font-style: bold;
  font-size: 30px;
}
.what_we_do p {
  line-height: 1.25;
  font-size: 24px;
  color: rgb(156, 163, 175);
}
.app_development_main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  gap: 50px;
}
.app_development {
  color: #9ca3af;
  text-align: start;
  /* padding-top: 103px;
    padding-left: 44px; */
padding: 30px 20px;
  height: 65vh;
  width: 41%;
  /* margin-left: 30px; */
}
.app_development p {
  line-height: 4.5vh;
  font-size: 20px;
}
.app_development h2 {
  font-weight: bold;
  font-size: 30px;
  color: #f3f4f6;
}

.box3 {
  height: 4px;
  width: 45px;
  border-radius: 4px;
  background-color: orangered;
  margin-bottom: 25px;
}
.app_development_image {
  width: 45%;
  margin-top: 50px;
}
.app_development_image img {
  width: 100%;
}

.technical_leadership_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 50px;
}
.technical_leadership {
  color: #9ca3af;
  text-align: start;
  /* padding-top: 103px;
    padding-left: 44px; */
padding: 30px 20px;
  height: 65vh;
  width: 41%;
  /* margin-left: 30px; */
  
}
.technical_leadership_image {
  height: 100vh;
  width: 48%;
  /* padding: 120px 0px; */
}
.technical_leadership p{
  line-height: 4.5vh;
  font-size: 20px;
}
.technical_leadership_image img {
  width: 100%;
}
.technical_leadership h2 {
  color: #f3f4f6;
  /* padding-left: 11vh; */
  padding: 8px 0px;
  font-weight: bold;
  font-size: 27px;
}
.box12{
   height: 4px;
  width: 45px;
  border-radius: 4px;
  background-color: orangered;
  margin-bottom: 25px;

}
.product_design_main {
  padding-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 30px;
  padding-bottom: 20vh;
}
.product_design {
  color: #9ca3af;
  text-align: start;
  width: 100vh;
  /* padding-top: 4vh; */
}

.product_design h2 {
  color: #f3f4f6;
  text-align: start;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 1vh;
}
.product_design p {
  padding-top: 3vh;
  line-height: 5vh;
  font-size: 20px;
}
.box4 {
  height: 0.5vh;
  width: 10vh;
  background-color: orangered;
  border-radius: 3vh;
}
.product_design_image {
  width: 100vh;
}
.product_design_image img {
  width: 100%;
}

.clientSection {
  background-color: rgb(22, 22, 43);
}
.header {
  /* color: white; */
  text-align: center;
  width: 450px;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}
.header h2 {
  font-size: 32px;
  font-weight: bold;
  color: #f3f4f6;
  padding-top: 80px;
  margin-bottom: 20px;
}
.box1 {
  width: 37px;
  height: 4px;
  border-radius: 5px;
  margin: auto;
  background-color: orangered;
}
.header p {
  text-align: center;
  padding: 10px 5px;
  color: #9ca3af;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 70px;
  line-height: 4.5vh;
}
.images {
  background-color: rgb(22, 22, 43);
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px; */
}

.bankrate {
  height: 215px;
  width: 256px;
  padding: 32px;
  border: 1px solid #e5e7eb2c;
  border: 5px 5px;
  border-radius: 8px;
}
.bankrate img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%) invert(60%);
}
.wework {
  height: 215px;
  width: 256px;
  padding: 32px;
  border: 1px solid #e5e7eb2c;
  border-radius: 8px;
  border: 5px 5px;
}
.wework img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%) invert(60%);
}
.able_to {
  height: 215px;
  width: 256px;
  padding: 32px;
  border: 1px solid #e5e7eb2c;
  border-radius: 8px;
  border: 5px 5px;
}
.able_to img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%) invert(60%);
}
.five_four {
  height: 215px;
  width: 256px;
  padding: 32px;
  border: 1px solid #e5e7eb2c;
  border-radius: 8px;
  border: 5px 5px;
}
.five_four img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%) invert(60%);
}

.igloo {
  height: 215px;
  width: 256px;
  padding: 32px;
  border: 1px solid #e5e7eb2c;
  border-radius: 8px;
  border: 5px 5px;
}
.igloo img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}
.fleetcarma {
  height: 215px;
  width: 256px;
  padding: 32px;
  border: 1px solid #e5e7eb2c;
  border-radius: 8px;
  border: 5px 5px;
}
.fleetcarma img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%) invert(60%);
}
.queens_university {
  height: 215px;
  width: 256px;
  border: 1px solid #e5e7eb2c;
  border-radius: 8px;
  align-items: center;

  border: 5px 5px;
}
.queens_university img {
  height: 100%;
  width: 80%;
  margin-left: 23px;
  filter: grayscale(100%) invert(100%);
}
.source_day {
  height: 215px;
  width: 256px;
  padding: 32px;
  border: 1px solid #e5e7eb2c;
  border-radius: 8px;
  border: 5px 5px;
}
.source_day img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%) invert(60%);
}

.boxhead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.boxhead2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  padding-bottom: 20px;
  /* margin: 20px; */
}
body {
  background-color: rgb(22, 22, 43);
  width: 100%;
  height: 100%;
}
.community_main {
  color: #9ca3af;
  /* line-height: 1.5vh; */
  padding-bottom: 10vh;
  text-align: center;
  width: 50vw;
  margin: auto;
}
.community h2 {
  text-align: center;
  color: #f3f4f6;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 2vh;
}
.box5 {
  height: 0.5vh;
  width: 5vw;
  background-color: orangered;
  /* align-items: center; */
  margin: auto;
}
.community p {
  line-height: 4.5vh;
  padding-top: 2vh;
  font-size: 22px;
}
.community_names {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 5vh;
  /* list-style-type: none; */
  color: #9ca3af;
}
.list1 {
  list-style-type: none;
  line-height: 6vh;
  /* gap: 7vh; */
  padding: 0vh 8vh;
  text-align: center;
}
.list2 {
  list-style-type: none;
  color: #9ca3af;
  line-height: 6vh;
  padding: 0vh 8vh;
  text-align: center;
}
.list3 {
  list-style-type: none;
  color: #9ca3af;
  line-height: 6vh;
  padding: 0vh 8vh;
  text-align: center;
}
.advisors_main {
  padding: 20vh;
  color: #f3f4f6;
  margin: auto;
  text-align: center;
  width: 100%;
  line-height: 4vh;
}
.advisors h2 {
  padding-bottom: 2vh;
}
.box6 {
  width: 3vw;
  height: 0.5vh;
  background-color: orangered;
  align-items: center;
  border-radius: 2vh;
  margin: auto;
}
.advisors p {
  padding-top: 1vh;
  color: #9ca3af;
  padding-bottom: 13vh;
}
.images_of_advisors {
  display: flex;
  gap: 40px;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
 
}

.taylor_otwell .shawn_mccool {
  display: flex;
  justify-content: center;
  align-items: center; 


}
.taylor_otwell {
  border: 0.5px solid #9ca3af;
width: 60%;
height: 400px;
   border-radius: 9px;
  
}
.taylor_image{
height:250px;
  width: 50%;
  margin: 20px auto 0;
}
.shawn_image{
 height:250px;
  width: 50%;
  margin: 20px auto 0;
  
}
.taylor_otwell img {
  height: 100%;
  width: 100%;
}

.shawn_mccool img {
  height: 100%;
  width: 100%;
}
.shawn_mccool{
  border: 0.5px solid #9ca3af;
width: 60%;
height: 400px;
 border-radius: 9px;
}

.taylor_otwell p {
  padding: 3vh 3vh;
  line-height: 30px;
  color: #f3f4f6;
}

.taylor_otwell a {
  color: orangered;
  
  padding: 0vh 3vh;
}

.shawn_mccool a {
  color: orangered;
  padding: 0vh 3vh;
}
.shawn_mccool p {
  padding: 3vh 3vh;
    line-height: 30px;

  color: #f3f4f6;
}
.meetup_we_host {
  line-height: 4.5vh;
  color: #9ca3af;
  text-align: center;
/* display: flex; */
justify-content: center;
align-items: center;
  padding: 8vh;
  /* align-items: center; */
}

.hostBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  text-align: start;
  
}

.box7 {
  margin: auto;
  height: 0.5vh;
  width: 9vh;
  border-radius: 5vh;
  background-color: orangered;
}
.meetup_we_host h2 {
  padding-bottom: 3vh;
  color: #f3f4f6;
  font-weight: bold;
  font-size: 32px;
}
.meeting_p{
  margin: auto;
}
.meetup_we_host p {

  line-height: 4vh;
  padding-top: 3vh;
  padding-bottom: 15vh;
  font-size: 20px;
  width: 40vw;
}


.box8 {
  background-color: orangered;

  height: 0.5vh;
  width: 9vh;
  border-radius: 5vh;
}





.laravel_worldwide_meetup h2 ,.gpug_main h2 , .kw_javascript h2 {
  margin-top:4rem ;
  text-align: start;
  line-height:1.3;
}
.box9 {
  background-color: orangered;

  height: 0.5vh;
  width: 9vh;
  border-radius: 5vh;
}


.laravel_worldwide_meetup a ,.kw_javascript a , .gpug_main a {
  color: orangered;
  text-decoration: none;
  /* text-align: start; */
}

.kw_javascript ,.gpug_main ,.laravel_worldwide_meetup {

  width: 30%;
  height: 32rem;
padding: 2rem;
  border: 0.5px solid #9ca3af;
  border-radius: 4px;

}
.box10 {
  background-color: orangered;

  height: 0.5vh;
  width: 9vh;
  border-radius: 5vh;
}
.kw_image , .gpug_image ,.laravel_image {
  height:160px;
  width: 230px;
  margin:5px auto;
  border-radius: 2px;
  padding: 2rem;
  background-color: #9ca3af31;
}
.kw_image img , .gpug_image img, .laravel_image img {
  height: 100%;
  width: 100%;
}
.kw_javascript p , .laravel_worldwide_meetup p, .gpug_main p {
  font-size: 16px;
  padding: 3px;
  width: 100%;
  text-align: start;
}


.sound_interesting {
  text-align: center;
  align-items: center;
  margin: 7vh;
}
.sound_interesting h1  {
  color: #f3f4f6;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin: 2vh;
}
.box11 {
  background-color: orangered;
  text-align: center;
  align-items: center;
  margin: auto;
  height: 0.5vh;
  width: 9vh;
  border-radius: 5vh;
}
.sound_interesting p {
  color: #9ca3af;
 text-align: center;
padding: 1vh 0vh;
  font-size: 20px;
  width: 40vw;
  /* margin-top: 2vh; */
  margin: 2rem  auto;
}
.sound_interesting button {
  background-color: rgba(255, 68, 0, 0.922);
  border: none;
  color: #f3f4f6;
  padding: 3vh;
  margin-top: 5vh;
  border-radius: 1.5vh;
  font-weight: bold;
}

.footerimage1{
  height: 48px;
  width: 192px;
  text-align: center;
  margin: auto;
  
}
.footerimage1 img{
  height: 100%;
  width: 100%;
  /* margin: 0px 0px 24px; */
}
.social_item3{
  height: 30px;
  /* width: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5px;
}
.social_item3 img{
  height: 100%;
  /* width: 100%; */
 padding: 5px;
}
